body {
  font-family: "vesper libre";
  color: #1a1a1a;
  line-height: 1.5;
  font-size: 1.25rem;
}

  img {
    width: 100%;
  }
  
figcaption, .article-category, .sub-titles .author, time {
  font-family: "Open Sans", sans-serif;
} 

.article-category {
  font-style: uppercase;
  font-size: .85rem;
  border-bottom: 2px solid #ff3530;
  display: inline;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.3;
  margin: 1rem 0;
}

.sub-title {
  font-weight: bold;
}

figcaption {
  font-size: .85rem;
  text-align: center;
  color: #757575;
  font-style: italic;
}

a:link {
  color:#1a1a1a;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: #ff3530;
}

.


8. Style links to
  - Use the same text color set as default in body
  - Have an `underline` by default
  - On hover, underline disappears
  - On hover, color of link changes to `#ff3530`

9. Text using class of `author` and `time` element
  - Font size `.85rem` 

10. Select the text using class of `author`
  - Add `margin-bottom: 0;`  

11. Select the figure element
  - Add `margin: 1.25em 0;`    

